# Ambiente virtual
venv/
env/
.venv/

# Variáveis de ambiente
.env

# Banco de dados SQLite
*.db
*.sqlite3

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python

# VS Code
.vscode/

# PyCharm
.idea/

# Sistema operacional
.DS_Store
Thumbs.db

# Flask
instance/
